.cards {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 88px;
    padding-top: 0px;
}

.card__img {
    width: 100%;
}

.card {
    cursor: pointer;
    width: 270px;
    transition: box-shadow 500ms, background-color 500ms;
    background-color: #FAFAFA;
}


.card:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}


@media screen and (max-width: 1280px) {
    .card {
        width: 200px;
    }
}

.card__title {
    font-size: 20px; 
    padding-top: 24px;
    padding-bottom: 74px;
    padding-left: 24px;
    margin: 0px;
    text-transform: capitalize;
}

.card__paragraph {
    font-size: 12px; 
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    margin: 0px;
    text-transform: capitalize;
}

