.footer {
    text-align: center;
    height: 410px;
    background-color: #FAFAFA;
    padding-left: 220px;
    padding-right: 220px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    padding-top: 116px;
    padding-bottom: 42px;
    font-size: 14px;
    text-transform: capitalize;
}

.footer__logo {
    margin-left: 140px;
    margin-right: 140px;
}

.footer__nav-link:nth-child(2){
    margin-left: 80px;
}

.footer__nav-link:nth-child(4){
    margin-right: 80px;
}

.footer__line {
    width: 96%;
    height: 1px;
    background-color: #000000;
    margin-bottom: 56px;
}

.footer__icons {
    display: flex;
    justify-content: center;

}

.footer__icons img {
    margin-right: 24px;
    transition: opacity 500ms;
}

.social-link:last-child {
    margin-right: 0px;
}

.copywright {
    padding-top: 72px;
}

.footer__nav-link {
    transition: opacity 500ms;
}

.footer__nav-link:hover {
    cursor: pointer;
    opacity: 0.5;
}

.footer__icons img:hover {
    cursor: pointer;
    opacity: 0.5;
}